%header#header.header.fixed-top.d-flex.align-items-center
  .d-flex.align-items-center.justify-content-between
    = link_to root_path, class: "logo d-flex align-items-center text-decoration-none" do
      = image_tag "logo/CheckLeaf.webp", alt: "Checkleaf Logo", size: "30x30"
      %span.d-none.d-lg-block.fs-5 CheckLeaf
    
  %nav.header-nav.ms-auto
    %ul.d-flex.align-items-center
      %li.nav-item.dropdown
        %a.nav-link.nav-icon{"data-bs-toggle" => "dropdown", :href => "#"} 
          %i.bi.bi-bell
          -#   (DONE) TO-DO: number should reflect the unread notifications
          %span.badge.bg-success.badge-number= unread_announcements(current_user).count

        %ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.notifications
          -#  (DONE) TO-DO: "You have #number new notifications" should reflect the unread notifications
          %li.dropdown-header
            - unread_notifications_count = unread_announcements(current_user).count
            You have #{unread_notifications_count} new notifications
            -# (DONE) TO-DO: This should redirect to announcement page
            = link_to announcements_path do
              %span.badge.rounded-pill.bg-success.p-2.ms-2 View all
          - Announcement.order(published_at: :desc).limit(4).each do |announcement|
            %li
              %hr.dropdown-divider/
              %li.notification-item
                .bi.bi-exclamation-circle
                  = link_to announcements_path do
                    %strong.me-auto.notification-panel-title= announcement.name
                  .notification-panel-time.text-muted= time_ago_in_words(announcement.published_at) + ' ago'
                  .notification-panel-body= announcement.description
     
          %li
            %hr.dropdown-divider/
          %li.dropdown-footer
            -# (DONE)  TO-DO: This should redirect to announcement  page
            = link_to announcements_path do
              .text-decoration-none.text-muted.ps-3 Show all notifications

      %li.nav-item.dropdown.pe-3
        %a.nav-link.nav-profile.d-flex.align-items-center.pe-0{"data-bs-toggle" => "dropdown", :href => "#"}
          -# TO-DO: Show Gravatar on initial login and then show the user's uploaded profile image
          = image_tag "logo/profile.webp", alt: "Profile", class: "rounded-circle"
          -# TO-DO: display User.first_name here
          %span.d-none.d-md-block.dropdown-toggle.ps-2
        %ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.profile
          %li.dropdown-header
            -# TO-DO: display User.first_name + User.last_name here
            %h6= current_user.first_name
            %hr.dropdown-divider/
          %li
            -# TO-DO: redirect to Account Settings & Superadmin settings
            = link_to edit_user_registration_path, class: 'dropdown-item d-flex align-items-center' do
              %i.bi.bi-gear
              %span Account
          - if current_user.admin? && respond_to?(:madmin_root_path)
            %li
              .dropdown-divider
              = link_to madmin_root_path, class: "dropdown-item" do
                %i.bi.bi-diagram-3
                %span Admin Settings
          %li
            %hr.dropdown-divider/
          %li
            = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item d-flex align-items-center' do
              %i.bi.bi-box-arrow-right
              %span Sign Out