%aside#sidebar.sidebar
  %ul#sidebar-nav.sidebar-nav.d-flex.flex-column
    %li.nav-item
      =link_to root_path, class: 'nav-link' do
        %i.bi.bi-grid
        %span Dashboard

    %li.nav-item
      = link_to root_path, class: 'nav-link collapsed', 'data-bs-target' => '#charts-nav', 'data-bs-toggle' => 'collapse' do
        %i.bi.bi-speedometer2
        %span Monitoring

    %li.nav-item
      = link_to root_path, class: 'nav-link collapsed', 'data-bs-target' => '#charts-nav', 'data-bs-toggle' => 'collapse' do
        %i.bi.bi-shield-check
        %span Incidents

    %li.nav-item
      = link_to root_path, class: 'nav-link collapsed', 'data-bs-target' => '#charts-nav', 'data-bs-toggle' => 'collapse' do
        %i.bi.bi-wrench-adjustable-circle
        %span Maintenance

    %li.nav-item
      = link_to root_path, class: 'nav-link collapsed', 'data-bs-target' => '#charts-nav', 'data-bs-toggle' => 'collapse' do
        %i.bi.bi-node-plus-fill
        %span Integrations

    %hr.my-4

    %li.nav-item
      = link_to root_path, class: 'nav-link collapsed' do
        %i.bi.bi-question-circle
        %span F.A.Q

    %li.nav-item
      = mail_to 'ron@narralabs.com', class: 'nav-link collapsed' do
        %i.bi.bi-envelope
        %span Contact Us
    
    .mt-auto
      %li
        = link_to terms_path, class: 'nav-link collapsed text-muted text-decoration-none' do
          %span Terms of Service

      %li
        = link_to privacy_path, class: 'nav-link collapsed text-muted text-decoration-none' do
          %span Privacy Policy