!!!
%html.h-100
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = render 'shared/head'
  %body.d-flex.flex-column.h-100
    %main.flex-shrink-0
      = render 'shared/navbar'
      - unless current_user
        = render 'shared/notices'
        
      .container.mt-4.mx-auto
        = yield
    = render 'shared/footer'
